<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Suolo</h1>

    <section class="section-block">
      <h2>L'attività di Arpa</h2>
      <h3>Consumo di suolo</h3>
      <p>Per “consumo di suolo” si intende un fenomeno associato alla perdita di una risorsa ambientale fondamentale, dovuta all’occupazione di superficie originariamente agricola, naturale o seminaturale. Il fenomeno è dovuto quindi all’incremento della copertura artificiale del terreno, conseguenza delle dinamiche insediative: costruzione di nuovi edifici, capannoni e insediamenti, espansione delle città, infrastrutturazione del territorio. Il concetto di consumo di suolo deve, quindi, essere definito come una variazione da una copertura non artificiale (suolo non consumato) a una copertura artificiale del suolo (suolo consumato). Arpa si occupa del monitoraggio del consumo di suolo in Umbria e contribuisce alla produzione della cartografia del consumo di suolo del Sistema Nazionale per la Protezione dell’Ambiente (SNPA).</p>

      <h3>Siti contaminati</h3>
      <p>Con il termine “sito contaminato” ci si riferisce a tutte quelle aree nelle quali, in seguito ad attività umane pregresse o in corso, è stata accertata un'alterazione delle caratteristiche qualitative delle matrici ambientali suolo, sottosuolo e acque sotterranee tale da rappresentare un rischio per la salute umana. Arpa partecipa al processo di approvazione dei progetti di bonifica dei siti contaminati, mediante la valutazione della conformità dei progetti e dell'efficacia degli interventi nonché il controllo dello stato di contaminazione delle matrici ambientali prima e dopo gli interventi.</p>
    </section>

    <section class="section-block">
      <h2>Informazioni e Risorse</h2>
      <ion-list lines="none">
        <ion-item button detail href="https://www.arpa.umbria.it/pagine/i-video-del-webinar-il-suolo-strumenti-di-conoscenza-e-tutela-della-risorsa" target="_blank">
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
          <ion-label>I video del webinar / Il suolo: strumenti di conoscenza e tutela della risorsa</ion-label>
        </ion-item>
        <ion-item button detail href="https://www.arpa.umbria.it/pagine/alfabeto-per-lecologia" target="_blank">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>Alfabeto per l'ecologia / Online l’incontro che si è...</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Il consumo di suolo in Umbria</h2>
      <ion-list lines="none">
        <ion-item button detail href="https://www.arpa.umbria.it/pagine/mappa-interattiva-consumo-suolo-umbria" target="_blank">
          <ion-icon slot="start" name="map-outline"></ion-icon>
          <ion-label>Mappa interattiva con i dati regionali 2022 e anni precedenti</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Progetto Remida</h2>
      <p>Informazioni sul Progetto Remida saranno disponibili a breve o possono essere reperite sul sito ufficiale di ARPA Umbria.</p>
      </section>

    <section class="section-block">
      <h2>Riferimenti normativi</h2>
      <p>I principali riferimenti normativi in tema di Suolo sono:</p>
      <ion-list lines="none">
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1999/12/15/099G0540/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Ministeriale 25 ottobre 1999, n. 471</h4>
            <p>Regolamento recante criteri, procedure e modalita' per la messa in sicurezza, la bonifica e il ripristino ambientale dei siti inquinati, ai sensi dell'articolo 17 del decreto legislativo 5 febbraio 1997, n. 22, e successive modificazioni e integrazioni.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>