<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Energia</h1>

    <section class="section-block">
      <h2>L'attività di Arpa</h2>
      <p>In tema di Energia, Arpa Umbria si occupa di:</p>
      <ul>
        <li>
          <ion-text>Assistenza ai comuni nella individuazione degli interventi tesi alla riduzione dei consumi energetici ed all'uso ottimale delle fonti energetiche alternative;</ion-text>
        </li>
        <li>
          <ion-text>Assistenza tecnica alla valutazione dei progetti inerenti centrali termiche/elettriche;</ion-text>
        </li>
        <li>
          <ion-text>Pareri finalizzati al rilascio delle autorizzazioni di cui all'art. 17 del D.P.R. 203/88;</ion-text>
        </li>
        <li>
          <ion-text>Promozione e diffusione delle tecnologie meno impattanti per la produzione di energia.</ion-text>
        </li>
      </ul>
    </section>

    <section class="section-block">
      <h2>Approfondimenti</h2>
      <ion-list lines="none">
        <ion-item button detail routerLink="/certificazioni/edifici">
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-label>
            <h3>Certificazione ambientale degli edifici</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>