<ion-content class="ion-padding">
  <div class="header-image-container" *ngIf="semilla">
    <div class="header-image-wrapper">
      <img class="header-image" [src]="semilla.imageUrl" [alt]="'Imagen de ' + semilla.name" />
      <button class="back-btn" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <div class="header-title-overlay">
        <h1 class="header-title">{{ semilla.name }}</h1>
      
      </div>
    </div>
  </div>
  <div class="semi-details" *ngIf="semilla">
   

    <h3>Descripción</h3>
    <p>{{ semilla.shortDescription }}</p>

    <h3>Detalles</h3>
    <p [innerHTML]="semilla.longDescription"></p>

  </div>
</ion-content>
