<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Rischio Tecnologico</h1>

    <section class="section-block">
      <h2>L'attività di Arpa</h2>
      <p>Arpa Umbria, Ente strumentale della Regione, svolge attività di supporto tecnico-scientifico per gli organi preposti alla valutazione e alla prevenzione dei rischi di incidenti rilevanti nelle aziende soggette agli obblighi del D.Lgs 105/2015.</p>
      <h3>In particolare, ARPA Umbria:</h3>
      <ul>
        <li>
          <ion-text>è presente con propri rappresentanti nel Comitato Tecnico Regionale, dando supporto nelle istruttorie tecniche dei Rapporti di sicurezza presentati dai gestori degli stabilimenti soggetti agli obblighi dell´art. 15 del D.Lgs 10520/15. L’attività istruttoria consiste nell’esame dell'analisi dei rischi effettuata dai gestori, anche attraverso riunioni e sopralluoghi presso gli impianti e può prevedere, ove necessario, anche simulazioni con specifici modelli di calcolo per la stima degli effetti di scenari incidentali;</ion-text>
        </li>
        <li>
          <ion-text>partecipa con propri rappresentanti alle Commissioni predisposte dal Comitato Tecnico Regionale per le verifiche sui Sistemi di Gestione della Sicurezza presso gli stabilimenti soggetti agli obblighi dell´art. 15 del D.Lgs 105/2015;</ion-text>
        </li>
        <li>
          <ion-text>offre supporto tecnico ai Prefetti nella redazione dei Piani di Emergenza Esterna;</ion-text>
        </li>
        <li>
          <ion-text>partecipa alla predisposizione di pareri di compatibilità territoriale su richiesta dei Comuni;</ion-text>
        </li>
        <li>
          <ion-text>offre ai Comuni supporto tecnico per l’informativa alla popolazione;</ion-text>
        </li>
        <li>
          <ion-text>partecipa ai gruppi di lavoro ISPRA/ARPA sul tema rischio industriale;</ion-text>
        </li>
      </ul>
    </section>

    <section class="section-block">
      <h2>Dati e Mappe</h2>
      <ion-list lines="none">
        <ion-item button detail routerLink="/aziende-rischio-incidente-rilevante">
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-label>Le aziende a rischio di incidente rilevante in Umbria</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Riferimenti normativi</h2>
      <p>I principali riferimenti normativi in materia di rischio industriale sono:</p>
      <ion-list lines="none">
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2015/07/07/15G00118/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Legislativo 26 giugno 2015, n. 105</h4>
            <p>"Attuazione della direttiva 2012/18/UE relativa al controllo del pericolo di incidenti rilevanti connessi con sostanze pericolose"</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2016/07/05/16G00150/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto del Ministero dell'Ambiente del 6 giugno 2016, n. 138</h4>
            <p>"Regolamento recante la disciplina delle forme di consultazione, sui piani di emergenza interna (PEI), del personale che lavora nello stabilimento, ai sensi dell'articolo 20, comma 5, del decreto legislativo 26 giugno 2015, n. 105".</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2016/08/17/16G00160/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Ministeriale del 1 luglio 2016, n. 148</h4>
            <p>“Criteri e procedure per la valutazione dei pericoli di incidente rilevante di una particolare sostanza pericolosa, ai fini della comunicazione alla Commissione europea, di cui all'articolo 4 del decreto legislativo 26 giugno 2015, n. 105”.</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2016/11/04/16G00213/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Ministeriale del 29 settembre 2016, n. 200</h4>
            <p>“Regolamento recante la disciplina per la consultazione della popolazione sui piani di emergenza esterna, ai sensi dell'articolo 21, comma 10, del decreto legislativo 26 giugno 2015, n. 105”.</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2005/03/17/05A02410/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto del Presidente del Consiglio dei Ministri 25 febbraio 2005</h4>
            <p>"Linee Guida per la predisposizione del piano d'emergenza esterna di cui all'articolo 20, comma 4, del decreto legislativo 17 agosto 1999, n. 334"</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2001/05/29/01A05607/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto del Ministero dei Lavori Pubblici del 9 maggio 2001</h4>
            <p>"Requisiti minimi di sicurezza in materia de pianificazione urbanistica e territoriale per le zone interessate da stabilimenti a rischio de incidente rilevante"</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1998/11/17/098A9870/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Ministero dell´Ambiente 20 ottobre 1998</h4>
            <p>"Criteri de analisi e valutazione dei rapporti de sicurezza relativi ai depositi de liquidi facilmente infiammabili e/o tossici"</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1996/07/16/096A4143/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto del Ministero dell´ambiente del 15 maggio 1996</h4>
            <p>"Criteri de analisi e valutazione dei rapporti de sicurezza relativi ai depositi de gas e petrolio liquefatto (G.P.L.)"</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1994/10/26/094A6573/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto del Ministero dell´Interno del 13 ottobre 1994</h4>
            <p>"Approvazione della regola tecnica de prevenzione incendi per la progettazione, la costruzione, l´installazione e l´esercizio dei depositi GPL in serbatoi fissi de capacità complessiva superiore a 5 m3 e/o in recipienti mobili de capacità complessiva superiore a 5.000 kg"</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1994/05/04/094A2328/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Ministeriale del 14 aprile 1994</h4>
            <p>"Criteri de analisi e valutazione dei rapporti de sicurezza relativi ai depositi de gas de petrolio liquefatto ai sensi dell'art. 12 del D.P.R. 17 maggio 1988, n. 175"</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>