<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Rumore</h1>

    <section class="section-block">
      <h2>L'attività di Arpa</h2>
      <p>In tema di rumore, Arpa Umbria si occupa di:</p>
      <ul>
        <li>
          <ion-text>Emissione di pareri tecnici a supporto delle amministrazioni ai fini del rilascio dell’autorizzazione;</ion-text>
        </li>
        <li>
          <ion-text>Emissione di pareri tecnici sui piani di risanamento comunale;</ion-text>
        </li>
        <li>
          <ion-text>Controlli nei pressi di sorgenti già esistenti anche in seguito ad esposto/segnalazione dei cittadini sia direttamente che attraverso le amministrazioni;</ion-text>
        </li>
        <li>
          <ion-text>Controlli di lungo periodo (monitoraggi);</ion-text>
        </li>
        <li>
          <ion-text>Attività di studio anche a supporto delle attività di pianificazione degli enti locali;</ion-text>
        </li>
        <li>
          <ion-text>Realizzazione, gestione e aggiornamento del catasto regionale delle sorgenti di rumore.</ion-text>
        </li>
      </ul>
    </section>

    <section class="section-block">
      <h2>Informazioni e Risorse</h2>
      <ion-list lines="none">
        <ion-item button detail href="https://www.arpa.umbria.it/pagine/informazioni-per-la-compilazione-di-un-esposto-per-inquinamento-acustico" target="_blank">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>Informazioni per la compilazione di un esposto per inquinamento acustico</ion-label>
        </ion-item>
        <ion-item button detail href="https://www.arpa.umbria.it/pagine/i-video-del-webinar-inquinamento-acustico-dalle-sorgenti-ai-controlli" target="_blank">
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
          <ion-label>I video del webinar / Inquinamento acustico: dalle sorgenti ai controlli</ion-label>
        </ion-item>
        <ion-item button detail href="https://www.arpa.umbria.it/pagine/alfabeto-per-lecologia" target="_blank">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>Alfabeto per l'ecologia</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Riferimenti normativi</h2>
      <p>I principali riferimenti normativi in materia di rumore sono:</p>
      <ion-list lines="none">
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2019/06/13/19A03882/sg" target="_blank" detail>
          <ion-label>
            <h4>2019 - Decreto Ministro dell’Ambiente n.105 del 15 aprile 2019</h4>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2017/03/10/17G00049/sg" target="_blank" detail>
          <ion-label>
            <h4>2017 - DLgs n. 41 del 17 febbraio 2017</h4>
            <p>Disposizioni per l'armonizzazione della normativa nazionale in materia di inquinamento acustico con la direttiva 2000/14/CE e con il regolamento (CE) n. 765/2008, a norma dell'articolo 19, comma 2, lettere i), l) e m) della legge 30 ottobre 2014, n. 161.</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2017/03/10/17G00050/sg" target="_blank" detail>
          <ion-label>
            <h4>2017 - DLgs n. 42 del 17 febbraio 2017</h4>
            <p>Disposizioni in materia di armonizzazione della normativa nazionale in materia di inquinamento acustico, a norma dell'articolo 19, comma 2, lettere a), b), c), d), e), f) e h) della legge 30 ottobre 2014, n. 161.</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://servizi.regione.umbria.it/Norme/Normativa/VisualizzaNormativa?idNorma=36343" target="_blank" detail>
          <ion-label>
            <h4>2015 - Legge Regionale 21 gennaio 2015 n 1</h4>
            <p>“Testo unico governo del territorio e materie correlate” – Capo V</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.regione.umbria.it/documents/18/8991217/R.R.+2+del+2015.pdf/21e35ff6-32d8-4f81-a9f4-2c70014022a1" target="_blank" detail>
          <ion-label>
            <h4>2015 - Regolamento Regionale 18 febbraio 2015, n. 2</h4>
            <p>Norme regolamentari attuative della legge regionale n. 1 del 21 gennaio 2015 (Testo unico governo del territorio e materie correlate).</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2014/11/20/14G00171/sg" target="_blank" detail>
          <ion-label>
            <h4>2014 - Legge n. 161 del 30 ottobre 2014</h4>
            <p>Disposizioni per l'adempimento degli obblighi derivanti dall'appartenenza dell'Italia all'Unione europea - Legge europea 2013-bis. (ART 19)</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2013/08/20/13G00140/sg" target="_blank" detail>
          <ion-label>
            <h4>2013 - Legge 9/08/2013 n. 98</h4>
            <p>Disposizioni urgenti per il rilancio dell’economia (riferimento Allegato 1 Art. 25 – Misure urgenti in materia di infrastrutture e trasporti)</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2011/12/28/11G0267/sg" target="_blank" detail>
          <ion-label>
            <h4>2011 - DPR 19/10/2011 n. 227</h4>
            <p>Regolamento per la semplificazione di adempimenti amministrativi in materia ambientale gravanti sulle imprese, a norma dell’articolo 49, comma 4 – quater, del DL 31/05/2010 n. 78, convertito con modificazioni della legge 30/07/2010 n. 122</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2011/05/13/11G0112/sg" target="_blank" detail>
          <ion-label>
            <h4>2011 - DL del 13/05/2011 n. 70</h4>
            <p>(riferimento Art. 5)</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2009/02/28/09A02075/sg" target="_blank" detail>
          <ion-label>
            <h4>2009 - Legge 27/02/2009 n. 13</h4>
            <p>Conversione in legge, con modificazioni del DL 30/12/2008, recante misure straordinarie in materia di risorse idriche e di protezione dell’ambiente (Art 6-ter: norme sulla tollerabilità delle immissioni acustiche)</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2005/09/27/05G00216/sg" target="_blank" detail>
          <ion-label>
            <h4>2005 - D. Lgs 19/08/2005 n. 194</h4>
            <p>Attuazione della direttiva 2002/49/CE relativa alla determinazione del rumore ambientale</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2005/02/09/05G00017/sg" target="_blank" detail>
          <ion-label>
            <h4>2005 - D. Lgs 17/01/2005 n. 13</h4>
            <p>Attuazione della direttiva 2002/30/CE relativa all’introduzione de restrizioni operative ai fini del contenimento del rumore negli aeroporti comunitari</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2004/06/17/04G00163/sg" target="_blank" detail>
          <ion-label>
            <h4>2004 - DPR 30/3/2004 n. 142</h4>
            <p>Disposizioni per il contenimento e la prevenzione dell’inquinamento acustico derivante dal traffico veicolare, a norma dell’art. 11 della Legge Quadro n. 447/1995</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2002/02/06/02A01235/sg" target="_blank" detail>
          <ion-label>
            <h4>2001 - DM 23/11/2001</h4>
            <p>Modifiche dell'allegato 2 del decreto ministeriale 29 novembre 2000 - Criteri per la predisposizione, da parte delle societa' e degli enti gestori dei servizi pubblici de trasporto o delle relative infrastrutture, dei piani degli interventi de contenimento e abbattimento del rumore</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2001/05/15/001A0499/sg" target="_blank" detail>
          <ion-label>
            <h4>2001 - DPR 3/04/2001</h4>
            <p>Regolamento recante disciplina delle emissioni sonore prodotte nello svolgimento delle attività motoristiche, a norma dell’art. 11 della Legge Quadro n. 447/1995</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2000/12/13/000A1359/sg" target="_blank" detail>
          <ion-label>
            <h4>2000 - DM 29/11/2000</h4>
            <p>Criteri per la predisposizione, da parte delle società e degli enti gestori dei servizi pubblici de trasporto o delle relative infrastrutture, dei piani degli interventi de contenimento e abbattimento del rumore</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1999/12/20/099A0914/sg" target="_blank" detail>
          <ion-label>
            <h4>1999 - DM 3/12/1999</h4>
            <p>Procedure antirumore e zone de rispetto negli aeroporti</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1999/12/14/099A0911/sg" target="_blank" detail>
          <ion-label>
            <h4>1999 - DPR 9/11/1999 n. 476</h4>
            <p>Regolamento recante modificazioni al decreto del Presidente della Repubblica 11/12/1997 n. 496 concernente il divieto de voli notturni</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1999/06/04/099A0547/sg" target="_blank" detail>
          <ion-label>
            <h4>1999 - DM 20/05/1999</h4>
            <p>Criteri per la progettazione dei sistemi de monitoraggio per il controllo dei livelli de inquinamento acustico in prossimità degli aeroporti nonchè criteri per la classificazione degli aeroporti in relazione al livello de inquinamento acustico</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1999/04/29/099A4106/sg" target="_blank" detail>
          <ion-label>
            <h4>1999 - DPCM 16/04/1999</h4>
            <p>Regolamento recante norme per la determinazione dei requisiti acustici delle sorgenti sonore nei luoghi de intrattenimento danzante e de pubblico spettacolo e nei pubblici esercizi</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1998/12/22/098A9908/sg" target="_blank" detail>
          <ion-label>
            <h4>1998 - Legge 9/12/1998 n. 426</h4>
            <p>Nuovi interventi in campo ambientale</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1998/12/03/098A9876/sg" target="_blank" detail>
          <ion-label>
            <h4>1998 - DPR 18/11/1998 n. 459</h4>
            <p>Regolamento recante norme de esecuzione dell’articolo 11 della Legge n. 447/95 in materia de inquinamento acustico derivante da traffico ferroviario</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1998/05/13/098A3674/sg" target="_blank" detail>
          <ion-label>
            <h4>1998 - DPCM 31/03/1998</h4>
            <p>Tecnico Competente</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1998/04/24/098A3598/sg" target="_blank" detail>
          <ion-label>
            <h4>1998 - DM 16/03/1998</h4>
            <p>Tecniche de rilevamento e de misurazione dell’inquinamento acustico</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1997/12/29/097A9448/sg" target="_blank" detail>
          <ion-label>
            <h4>1997 - Decreto 11/12/1997 n. 496</h4>
            <p>Regolamento recante norme per la riduzione dell’inquinamento acustico prodotto dagli aeromobili civili</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1997/12/27/097A9445/sg" target="_blank" detail>
          <ion-label>
            <h4>1997 - DPCM 5/12/1997</h4>
            <p>Determinazione dei requisiti acustici passivi degli edifici</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1997/12/03/097A9362/sg" target="_blank" detail>
          <ion-label>
            <h4>1997 - DPCM 14/11/1997</h4>
            <p>Determinazione dei valori limite delle sorgenti sonore</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1997/11/13/097A9292/sg" target="_blank" detail>
          <ion-label>
            <h4>1997 - DM 31/10/1997</h4>
            <p>Metodologia de misura del rumore aeroportuale</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1997/10/01/097A9122/sg" target="_blank" detail>
          <ion-label>
            <h4>1997 - DPCM 18/09/1997</h4>
            <p>Determinazione dei requisiti delle sorgenti sonore nei luoghi de intrattenimento danzante</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1995/11/27/095A6458/sg" target="_blank" detail>
          <ion-label>
            <h4>1995 - Legge Quadro 447/1995</h4>
            <p>Legge Quadro sull’Inquinamento Acustico</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/1991/03/14/091A1428/sg" target="_blank" detail>
          <ion-label>
            <h4>1991 - DPCM 1/3/1991</h4>
            <p>Limiti massimi de esposizione al rumore negli ambienti abitativi e nell' ambiente esterno.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>