<ion-content class="ion-padding">
  <div class="page-container">
    <h1>VAS - Valutazione ambientale strategica</h1>

    <section class="section-block">
      <p>La <a href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX%3A32001L0042" target="_blank">Direttiva europea 2001/42/CE</a> del 27 giugno 2001 ha introdotto la <strong>Valutazione Ambientale Strategica</strong> (VAS), quale strumento metodologico per l'integrazione delle considerazioni di carattere ambientale nell'elaborazione e nell'adozione di taluni piani e programmi pubblici che possono avere effetti significativi sull'ambiente.</p>
      <p>In Italia la Direttiva europea 2001/42/CE è stata recepita con il <a href="https://www.gazzettaufficiale.it/eli/id/2006/04/14/06G00174/sg" target="_blank">decreto legislativo 3 aprile 2006, n. 152</a>, recante "Norme in materia ambientale" che ha avuto nel tempo una serie di modifiche ed integrazioni.</p>

      <p>In base all’art 4 comma 3 e 4 del dlgs. “la valutazione ambientale di piani, programmi e progetti ha la finalità di assicurare che l'attività antropica sia compatibile con le condizioni per uno sviluppo sostenibile, e quindi nel rispetto della capacità rigenerativa degli ecosistemi e delle risorse, della salvaguardia della biodiversità e di un'equa distribuzione dei vantaggi connessi all'attività economica. Per mezzo della stessa si affronta la determinazione della valutazione preventiva integrata degli impatti ambientali nello svolgimento delle attività normative e amministrative, di informazione ambientale, di pianificazione e programmazione.</p>
      <p>In tale ambito la valutazione ambientale di piani e programmi che possono avere un impatto significativo sull'ambiente ha la finalità di garantire un elevato livello di protezione dell'ambiente e contribuire all'integrazione di considerazioni ambientali all'atto dell'elaborazione, dell'adozione e approvazione di detti piani e programmi assicurando che siano coerenti e contribuiscano alle condizioni per uno sviluppo sostenibile.”</p>

      <p>Lo strumento della <strong>VAS</strong> ha la potenzialità quindi di trasformare i processi di pianificazione territoriale/urbanistica della pubblica amministrazione, in processi di pianificazione e programmazione di tipo integrato, proiettati verso un comune <strong>"obiettivo strategico"</strong> quale quello dello <strong>"sviluppo sostenibile"</strong>, in termini non solo ambientali, ma anche sociali, economici, culturali e politici.</p>

      <p>L’art 5 del decreto definisce che per “valutazione ambientale di piani e programmi, nel seguito valutazione ambientale strategica, di seguito VAS: il processo che comprende, secondo le disposizioni di cui al titolo II della seconda parte del presente decreto, lo svolgimento di una verifica di assoggettabilità, l'elaborazione del rapporto ambientale, lo svolgimento di consultazioni, la valutazione del piano o del programma, del rapporto e degli esiti delle consultazioni, l'espressione di un parere motivato, l'informazione sulla decisione ed il monitoraggio;</p>

      <p>Inoltre l’art 6 esplicita che “viene effettuata una valutazione per tutti i piani e i programmi:</p>
        <ul>
          <li>che sono elaborati per la valutazione e gestione della qualità dell'aria ambiente, per i settori agricolo, forestale, della pesca, energetico, industriale, dei trasporti, della gestione dei rifiuti e delle acque, delle telecomunicazioni, turistico, della pianificazione territoriale o della destinazione dei suoli, e che definiscono il quadro di riferimento per l'approvazione, l'autorizzazione, l'area di localizzazione o comunque la realizzazione dei progetti elencati negli allegati II, II-bis, III e IV del presente decreto;</li>
          <li>per i quali, in considerazione dei possibili impatti sulle finalità di conservazione dei siti designati come zone di protezione speciale per la conservazione degli uccelli selvatici e quelli classificati come siti di importanza comunitaria per la protezione degli habitat naturali e della flora e della fauna selvatica, si ritiene necessaria una valutazione d'incidenza ai sensi dell'articolo 5 del decreto del Presidente della Repubblica 8 settembre 1997, n. 357, e successive modificazioni.</li>
        </ul>
        <p>Per i piani e i programmi di cui al comma 2 che determinano l'uso di piccole aree a livello locale e per le modifiche minori dei piani e dei programmi di cui al comma 2, la valutazione ambientale e' necessaria qualora l'autorità competente valuti che producano impatti significativi sull'ambiente, secondo le disposizioni di cui all'articolo 12 e tenuto conto del diverso livello di sensibilità ambientale dell'area oggetto di intervento. 3-bis. L'autorità competente valuta, secondo le disposizioni di cui all'articolo 12, se i piani e i programmi, diversi da quelli di cui al comma 2, che definiscono il quadro di riferimento per l'autorizzazione dei progetti, producano impatti significativi sull'ambiente.”</p>
    </section>

    <section class="section-block">
      <h2>Il ruolo di Arpa Umbria nelle VAS</h2>
      <p>La VAS regionale in Umbria è governata dalla <a href="https://servizi.regione.umbria.it/Norme/Normativa/VisualizzaNormativa?idNorma=12683" target="_blank">legge 12 del 16 febbraio 2010</a> in base alla quale (art. 4) l’agenzia è individuata come Soggetto competente in materia ambientale ed esprime propri pareri in sede di conferenze di VAS e di assoggettabilità a VAS</p>
      <p>ARPA è inoltre individuata quale soggetto competente per le attività di <strong>monitoraggio ambientale</strong> degli impatti significativi sull'ambiente derivanti dall'attuazione dei piani e dei programmi approvati in ambito regionale. In diversi casi pertanto ARPA collabora in accordo all’Autorità Competente al monitoraggio ambientale dei piani o programmi regionali e/o sub-regionali sottoposti a VAS, secondo specifici protocolli tecnici concordati con il Proponente.</p>
      <p>Il monitoraggio ambientale è attuato in base ad apposito Piano secondo quanto definito nella sezione del Rapporto ambientale del piano o programma approvato individuando i soggetti, le responsabilità, la sussistenza delle risorse finanziarie necessarie e le scadenze temporali per la realizzazione, la gestione e le verifiche degli esiti del monitoraggio.</p>
    </section>

    <section class="section-block">
      <h2>Linee guida, indicazioni metodologiche o operative</h2>
      <p>ARPA Umbria esprime i propri pareri coerentemente alle Linee guida di ISPRA predisposte con la collaborazione del Sistema Agenziale. Inoltre per la redazione dei piani di monitoraggi e la scelta degli indicatori ambientali l’agenzia ha formulato con la Regione un core set indicativo di indicatori prioritari da utilizzare da parte dei proponenti.</p>
      <p>Le <strong>fonti principali</strong> di dati per le VAS alle quali l’Agenzia fa riferimento sono rappresentate dalle varie banche dati strutturate che sono nella disponibilità dell’agenzia. I dati relativi ad aria (qualità ed emissioni), acque superficiali e sotterranee, consumo di suolo, rifiuti, campi elettromagnetici, rumore sono resi disponibili presso il sito di ARPA Umbria mediante le aree ambientali tematiche dell’agenzia. Alcuni informazioni quali ad esempio quelle in merito alla modellistica della qualità dell’area o dati/indicatori a scala inferiore a quella regionale (spesso comunale) sono prodotti specificatamente in sede di formulazione del relativo piano.</p>
      <ion-list lines="none">
        <ion-item button detail href="https://www.isprambiente.gov.it/files/pubblicazioni/manuali-lineeguida/lg_vas.pdf" target="_blank">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>VAS - Linee guida: Indicazioni operative a supporto della valutazione a redenzione dei documenti della VAS</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <p>Tutte le informazioni e le documentazioni relative alla VAS in Umbria sono disponibili sul sito web della <a href="https://ambiente.regione.umbria.it/valutazioni-ambientali/vas" target="_blank">Regione Umbria</a>, dove è possibile compilare e inviare direttamente online il proprio contributo ai processi di VAS in corso e accreditarsi al portale unico di presentazione delle istanze della Regione Umbria.</p>
      <ion-list lines="none">
        <ion-item button detail href="https://ambiente.regione.umbria.it/valutazioni-ambientali/vas" target="_blank">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label>VAS - Valutazione ambientale strategica (Regione Umbria)</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Normativa</h2>
      <ion-list lines="none">
        <ion-item button detail href="https://www.regione.umbria.it/documents/18/8991217/DGR_233_2018.pdf/6069752b-7c15-46e3-a6dd-6d8011270b20" target="_blank">
          <ion-label>
            <h4>VAS - DGR 233-2018</h4>
            <p>“Specificazioni tecniche e procedurali in materia di Valutazione Ambientale Strategica"</p>
          </ion-label>
        </ion-item>
        <ion-item button detail href="https://www.regione.umbria.it/documents/18/8991217/ALL_A_DGR_233_18.pdf/22d51b31-3146-4444-be1f-0e2ff17614e5" target="_blank">
          <ion-label>
            <h4>VAS - DGR 233-2018 modulistica</h4>
            <p>“Specificazioni tecniche e procedurali in materia di Valutazione Ambientale Strategica - Nuova modulistica"</p>
          </ion-label>
        </ion-item>
        <ion-item button detail href="https://servizi.regione.umbria.it/Norme/Normativa/VisualizzaNormativa?idNorma=12683" target="_blank">
          <ion-label>
            <h4>Legge Regionale 12 del 2010</h4>
            <p>Via, Vas e Aia</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <p><small>[Ultimo aggiornamento 3 giugno 2020]</small></p>
    </section>
  </div>
</ion-content>