<ion-content class="ion-padding">
  <h2>AIA</h2>

  <h3>L'AUTORIZZAZIONE INTEGRATA AMBIENTALE E LE MIGLIORI TECNICHE DISPONIBILI</h3>
  <p>Con la terminologia Prevenzione e Riduzione Integrate dell’Inquinamento si rappresenta la traduzione italiana dell’acronimo <strong>IPPC (Integrated Pollution Prevention and Control)</strong> noto a livello internazionale come l'acronimo di una delle direttiva UE più importanti in materia ambientale, la direttiva 96/61/CE poi codificata nella direttiva 2008/1/UE.</p>

  <p>La direttiva IPPC prevedeva un approccio innovativo per la riduzione degli impatti ambientali con la graduale applicazione di un insieme di soluzioni tecniche volte a:</p>
  <ul>
    <li>evitare o almeno ridurre le emissioni ambientali e la produzione di rifiuti;</li>
    <li>utilizzare in modo efficiente l'energia;</li>
    <li>prevenire gli incidenti e limitarne le conseguenze;</li>
    <li>evitare qualsiasi rischio di inquinamento con la cessazione definitiva dell'attività.</li>
  </ul>

  <p>La disciplina IPPC è stata recepita nell'ordinamento ambientale nazionale con l'emanazione del D.Lgs. 372/99, limitatamente agli impianti industriali esistenti, successivamente abrogato dal D.Lgs. n.59 del 2005.</p>
  <p>Con il D.Lgs. 128/2010 il D.Lgs 59/2005 è stato interamente assorbito nella Parte II^ del D.Lgs 152/2006 e s.m.i. (Testo Unico Ambientale).</p>
  <p>In data 11 aprile 2014 è entrato in vigore il <a href="#">D.Lgs. 4 marzo 2014, n. 46</a> recante “Attuazione della Direttiva 2010/75/UE relativa alle emissioni industriali (prevenzione e riduzione integrate dell’inquinamento)” con il quale sono state apportate sostanziali modifiche alla Parte II^ del Testo Unico Ambientale ed, in particolare, al Titolo III-bis “L’autorizzazione Integrata Ambientale”.</p>

  <h4>Le principali novità introdotte dal D.Lgs 46/2014 sono:</h4>
  <ul>
    <li>ampliamento del campo di applicazione della disciplina IPPC con l’introduzione di nuove attività del comparto industriale e di gestione rifiuti;</li>
    <li>emanazione delle “BAT conclusion”, documenti di riferimento per definire le condizioni dell’AIA;</li>
    <li>presentazione della relazione di riferimento qualora le attività comportino l’utilizzo, la produzione o lo scarico di sostanze pericolose;</li>
    <li>introduzione dell’istituto del riesame con valenza di rinnovo;</li>
    <li>definizione delle attività ispettive in un piano d’ispezione ambientale a livello regionale, periodicamente aggiornato a cura della Regione;</li>
    <li>modifica del regime sanzionatorio, con introduzione di sanzioni amministrative e penali differenziate in base alle diverse tipologie di violazione.</li>
  </ul>

  <p>Il rilascio dell’AIA è fondato sul rispetto da parte delle installazioni delle <strong>Migliori Tecniche Disponibili</strong> (MTD o BAT - Best Available Techniques) al fine di evitare oppure, ove non sia possibile, ridurre le emissioni e l’impatto sull’ambiente nel suo complesso.</p>

  <h4>Le categorie di attività soggette a tale autorizzazione sono indicate nell’Allegato VIII alla Parte Seconda del D.Lgs. 152/2006 e s.m.i., e in sintesi sono:</h4>
  <ul>
    <li>Attività energetiche</li>
    <li>Produzione e trasformazione metalli</li>
    <li>Industrie dei prodotti minerali</li>
    <li>Impianti chimici</li>
    <li>Gestione rifiuti</li>
    <li>Altre attività quali ad esempio: allevamenti e impianti per trattamento di superfici con utilizzo di solventi</li>
  </ul>

  <h3>L' AUTORITÀ COMPETENTE AL RILASCIO DELL'AUTORIZZAZIONE E IL RUOLO DI Arpa</h3>
  <p>Con <a href="#">Legge LR 13 maggio 2009, n. 11. Norme per la gestione integrata dei rifiuti e la bonifica delle aree inquinate (Art. 51)</a> la Regione Umbria ha delegato alle Province il rilascio, il rinnovo ed il riesame dell'Autorizzazione Integrata Ambientale per gli impianti soggetti a tale disciplina, ad eccezione di quelli di competenza statale, per i quali l'autorità competente è il Ministero dell’Ambiente e della Tutela del Territorio e del Mare. La stessa legge regionale definisce che la Provincia si avvale dell'Arpa ai fini dello svolgimento delle attività istruttorie per il rilascio dell'autorizzazione e per le relative attività di monitoraggio.</p>
  <p>La L.R. 16 Febbraio 2010, n.12 in materia di Valutazione Ambientale Strategica e di Valutazione di Impatto Ambientale assicura l'integrazione ed il coordinamento delle procedure di VIA e di AIA, come previsto anche dall'art.10 del Testo Unico Ambientale.</p>

  <h3>Arpa E IL RISPETTO DELL'AUTORIZZAZIONE INTEGRATA AMBIENTALE</h3>
  <p>Per le attività produttive oggetto di Autorizzazione Integrata Ambientale (AIA), alla luce dei recenti aggiornamenti normativi introdotti dal D.Lgs n.46 del 04.03.2014, le autorità competenti in materia di controlli sono le Province che si avvalgono del supporto di Arpa.</p>

  <ion-list>
    <ion-item button detail="true">
      <ion-label>
        <h3>Utilizzo dell'applicativo WEB PMC per aziende in AIA</h3>
        <p>Funzionalità e le modalità di utilizzo dell’applicativo web PMC.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <h3>Notizie</h3>
  <ion-list>
    <ion-item button detail="true">
      <ion-label>
        <h3>LE NOVITÀ SULL’APPLICATIVO WEB “AUTORIZZAZIONI AIA E AUTOCONTROLLI AZIENDE”</h3>
        <p>Terni / 3 marzo ore 10 / Sala Convegni Santoloci / Via Carlo Alberto dalla Chiesa, 32</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Autorizzazione Integrata Ambientale e Autorizzazione Unica. Adempimenti. Misure temporanee di semplificazione conseguenti all’emergenza epidemiologica da COVID-19</h3>
        <p>È possibile consultare la determina Autorizzazione Integrata Ambientale e Autorizzazione Unica. Adempimenti. Misure temporanee di semplificazione conseguenti all’emergenza epidemiologica da COVID-19. Integrazioni”, disposta dalla Regione Umbria.</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>