<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Radioattività</h1>

    <section class="section-block">
      <h2>L'attività di Arpa</h2>
      <p>In tema di Radiazioni ionizzanti Arpa Umbria si occupa di:</p>
      <ul>
        <li>
          <ion-text>Controlli su matrici alimentari in accordo con il piano regionale dei controlli sugli alimenti</ion-text>
        </li>
        <li>
          <ion-text>Controllo della radioattività in matrici ambientali</ion-text>
        </li>
        <li>
          <ion-text>Monitoraggio indoor della presenza di radon negli edifici</ion-text>
        </li>
      </ul>
      <p>Tale attività è inserita all’interno di quella più ampia delle Reti Nazionali di Sorveglianza della radioattività ambientale, di cui Arpa Umbria è parte integrante. L’essere all’ interno delle Reti Nazionali garantisce l’omogeneità dei criteri di scelta sia delle matrici da campionare, che delle modalità di campionamento e di misura, nonché la confrontabilità del risultato finale, che oltre ad essere gestito “in proprio”, confluisce, insieme ai dati provenienti da tutto il territorio nazionale, all’ISIN. Quest’ ultima, con funzione di coordinamento attribuitale dal D.lgs230/95, rende noti tutti i dati pervenuti con la pubblicazione di report annuali che poi trasmette alla Commissione Europea.</p>

      <ion-item button detail routerLink="/cosa-sono-radiazioni-ionizzanti">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label>Cosa sono le radiazioni ionizzanti</ion-label>
      </ion-item>
    </section>

    <section class="section-block">
      <h2>Notizie e Approfondimenti</h2>
      <ion-list lines="none">
        <ion-item button routerLink="/faq/radon-abitazione">
          <ion-label>
            <h3>FAQ - Misurare il radon nella propria abitazione</h3>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="/notizie/radioprotezione-convegno-airp">
          <ion-label>
            <h3>Radioprotezione: a Perugia il Convegno nazionale dell’AIRP</h3>
            <p>Si terrà a Perugia dal 16 al 18 ottobre 2019 il Convegno...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Dati e strumenti</h2>
      <ion-list lines="none">
        <ion-item button detail routerLink="/monitoraggio-radioattivita-umbria">
          <ion-icon slot="start" name="analytics-outline"></ion-icon>
          <ion-label>I dati del monitoraggio della radioattività in Umbria</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Riferimenti normativi</h2>
      <h3>Principale normativa nazionale ed europea</h3>
      <ion-list lines="none">
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2020/08/12/20G00121/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Legislativo 31 luglio 2020, n.101</h4>
            <p>Attuazione della direttiva 2013/59/Euratom, che stabilisce norme fondamentali di sicurezza relative alla protezione contro i pericoli derivanti dall'esposizione alle radiazioni ionizzanti, e che abroga le direttive 89/618/Euratom, 90/641/Euratom, 96/29/Euratom, 97/43/Euratom e 2003/122/Euratom e riordino della normativa di settore in attuazione dell'articolo 20, comma 1, lettera a), della legge 4 ottobre 2019, n. 117. (20G00121) (GU Serie Generale n.201 del 12-08-2020 - Suppl. Ordinario n. 29)</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2016/03/01/16G00040/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Legislativo 15 febbraio 2016, n. 28</h4>
            <p>Attuazione della direttiva 2013/51/EURATOM del Consiglio, del 22 ottobre 2013, che stabilisce requisiti per la tutela della salute della popolazione relativamente alle sostanze radioattive presenti nelle acque destinate al consumo umano</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX:32003H0274" target="_blank" detail>
          <ion-label>
            <h4>Raccomandazione 2003/274/CE</h4>
            <p>sulla protezione e l'informazione del pubblico per quanto riguarda l'esposizione risultante dalla continua contaminazione radioattiva da cesio di taluni prodotti di raccolta spontanei a seguito dell'incidente verificatosi nella centrale nucleare di Chernobyl</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX:32000H0473" target="_blank" detail>
          <ion-label>
            <h4>Raccomandazione 2000/473/Euratom</h4>
            <p>applicazione dell'articolo 36 del trattato Euratom riguardante il controllo del grado di radioattività ambientale allo scopo di determinare l'esposizione dell'insieme della popolazione</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX:32013L0059" target="_blank" detail>
          <ion-label>
            <h4>Direttiva 2013/59/Euratom</h4>
            <p>che stabilisce norme fondamentali de sicurezza relative alla protezione contro i pericoli derivanti dall’esposizione alle radiazioni ionizzanti, e che abroga le direttive 89/618/Euratom, 90/641/Euratom, 96/29/Euratom, 97/43/Euratom e 2003/122/Euratom.</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2011/06/17/11G0140/sg" target="_blank" detail>
          <ion-label>
            <h4>DECRETO LEGISLATIVO 1 giugno 2011, n. 100</h4>
            <p>Disposizioni integrative e correttive del decreto legislativo 20 febbraio 2009, n. 23, recante attuazione della direttiva 2006/117/Euratom, relativa alla sorveglianza e al controllo delle spedizioni di rifiuti radioattivi e de combustibile nucleare esaurito - sorveglianza radiometrica su materiali o prodotti semilavorati metallici.</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.gazzettaufficiale.it/eli/id/2007/03/16/07G00073/sg" target="_blank" detail>
          <ion-label>
            <h4>Decreto Legislativo 6 febbraio 2007, n. 52</h4>
            <p>Attuazione della direttiva 2003/122/CE Euratom sul controllo delle sorgenti radioattive sigillate ad alta attivita' e delle sorgenti orfane</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.normattiva.it/uri-res/N2Ls?urn:nir:stato:decreto.legislativo:2000-05-26;241" target="_blank" detail>
          <ion-label>
            <h4>Decreto Legislativo 26 maggio 2000, n. 241</h4>
            <p>Attuazione della direttiva 96/29/EURATOM in materia de protezione sanitaria della popolazione e dei lavoratori contro i rischi derivanti dalle radiazioni ionizzanti</p>
          </ion-label>
        </ion-item>
        <ion-item href="https://www.normattiva.it/uri-res/N2Ls?urn:nir:stato:legge:1962-12-31;1860" target="_blank" detail>
          <ion-label>
            <h4>Legge 31 dicembre 1962, n.1860</h4>
            <p>Impiego pacifico dell'energia nucleare</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <h3>Normativa regionale</h3>
      <ion-list lines="none">
        <ion-item href="URL_LEGGE_REGIONALE_9_APRILE_2015_N_11" target="_blank" detail>
          <ion-label>
            <h4>LEGGE REGIONALE 9 aprile 2015, n. 11</h4>
            <p>Testo unico in materia de Sanità e Servizi sociali.</p>
          </ion-label>
        </ion-item>
        <ion-item href="URL_REGOLAMENTO_REGIONALE_6_MAGGIO_2003_N_6" target="_blank" detail>
          <ion-label>
            <h4>REGOLAMENTO REGIONALE 6 maggio 2003, n. 6.</h4>
            <p>Disposizioni de attuazione della legge regionale n. 25 del 6/12/02 - Norme per il rilascio del nulla osta all’impiego de sorgenti de radiazioni ionizzanti comportanti esposizione a scopo medico</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>