.custom-card {
  background: #1d3105 !important;
  border-radius: 38px;
  color: #fff9de;
  font-family: 'Gaegu', cursive;
  width: 400px;
  max-width: 400px;  // ✅ Arreglado
  margin: 0 0 32px 0; // Margen solo abajo
  box-shadow: 0 0 32px 0 #0002;
}

.custom-card.first-recipe {
  background: #b6572c !important;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 90px;
}

.custom-card ion-card-title {
  font-family: 'Gaegu', cursive;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left !important;
 margin-left: 15px;
}

.img.seed-img {
  width: 100%;
    width:320px;
  max-width: 320px;
  height: 110px;
  max-height: 110px;
  min-height: 110px;
  object-fit: cover;
  display: block;
  border-radius: 0 0 22px 22px;
  border: none;
  margin: 0;
  box-shadow: none;
}



.seed-buttons-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px 15px 18px;
  gap: 7px;
  margin: 0;
}

.seed-author {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #fff9de;
  font-weight: 400;
  margin-bottom: 0px;
}

.seed-icon-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seed-icon-btn img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.seed-buttons-row img[alt="Me gusta"],
.seed-buttons-row img[alt="Comentario"] {
  width: 26px !important;
  height: 26px !important;
}
.seed-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

}

.seed-buttons-container {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0 0 20px 20px;
}

/* Alineación izquierda */
.seed-buttons-container.aligned-left {
  justify-content: flex-start;
}

.author-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.seed-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Esto alinea Ricetta + íconos a la izquierda */
  margin-top: 19px;
}

.seed-author {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #fff9de;
  font-weight: 400;
  margin-bottom: 0px;
}

.icon-row {
  display: flex;
  align-items: right;
  margin-right: 50px;
}

.icon-row img {
  width: 50px;
  height: 50px;
  margin-top: -18px;
}

.icon-text {
  font-family: 'Gaegu', cursive;
  font-size: 0.5em;
  color: #fff9de;
}

.centered-ingredient-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #b6572c;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 2;
  pointer-events: none;
  font-style: italic;

}
