<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Su più temi</h1>

    <section class="section-block">
      <h2>Pubblicazioni e Riferimenti</h2>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Il contesto umbro e dinamiche ambientali - Il periodo 2002-2012</h3>
            <p>Anno di pubblicazione: 2014</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Un anno di indicatori ambientali 2013</h3>
            <p>Anno di pubblicazione: 2014 / Arpa Umbria - La raccolta degli indicatori del mese pubblicati sul portale di Arpa nel 2013. Una serie di indicatori “headline”, ovvero di tematiche più significative di cui Arpa si occupa per raccontare lo stato di salute dell’ambiente in Umbria.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Annuario dati ambientali Umbria 2009</h3>
            <p>Anno di pubblicazione: 2010</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Annuario dati ambientali Umbria 2008</h3>
            <p>Anno di pubblicazione: 2009</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Anche nel mio giardino / Atti del convegno</h3>
            <p>Anno di pubblicazione: 2007 - Supplemento alla rivista Micron (n.8 dic 2007)</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Annuario dati ambientali Umbria 2007</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="code-outline"></ion-icon>
          <ion-label>
            <h3>Il Modello di Monitoraggio ambientale e socio-economico - Software UmbriaSUIT 1.0</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label>
            <h3>Il principio di precauzione</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="map-outline"></ion-icon>
          <ion-label>
            <h3>L'ambiente in Umbria</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="hammer-outline"></ion-icon>
          <ion-label>
            <h3>Linee guida - L'applicazione del sistema di gestione ambientale ISO 14001 negli allevamenti suinicoli</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Relazione sullo stato dell'ambiente in Umbria</h3>
            <p>Relazione sullo stato dell'ambiente dell'Umbria</p>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="laptop-outline"></ion-icon>
          <ion-label>
            <h3>Il sistema informativo di Arpa Umbria e la conoscenza ambientale</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
          <ion-label>
            <h3>Un triennio di attività di Arpa Umbria</h3>
            <p>Anno di pubblicazione: 2003</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="medal-outline"></ion-icon>
          <ion-label>
            <h3>La certificazione ambientale come strumento di gestione ecologica e competizione</h3>
            </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>