<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Rumore</h1>

    <section class="section-block">
      <h2>Pubblicazioni e Riferimenti</h2>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Una stima della popolazione esposta al rumore: alcuni casi di studio in Umbria</h3>
            <p>Anno di pubblicazione: 2011</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Inquinamento acustico</h3>
            <p>Anno di pubblicazione: 2007</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Radiazioni ionizzanti, rumore, elettromagnetismo</h3>
            <p>Anno di pubblicazione: 2005</p>
          </ion-label>
        </ion-item>
      </ion-list>
          </section>
  </div>
</ion-content>