:root {
  --ion-color-primary: #4CAF50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #439647;
  --ion-color-primary-tint: #5ec262;
  --ion-background-color: #ffffff;
  --ion-color-menu-header: #388e3c;
  --ion-color-menu-text: #2e7d32;
  --ion-color-menu-hover-text: #1b5e20;

  --bottom-menu-bg: var(--ion-color-primary); /* ← Fondo del menú en modo claro */
}

body.dark {
  --ion-card-bg-dark: #232323;
  --ion-card-text-dark: #f1f1f1;
  --ion-background-color: #181818;
  --ion-text-color: #e0e0e0;
  --ion-color-menu-header: #232d1a;
  --ion-color-menu-text: #b2dfdb;
  --ion-color-menu-hover-bg: #232d1a;
  --ion-color-menu-hover-text: #f0fff0;
  --ion-toolbar-background: #232d1a;
  --ion-item-background: #232d1a;
  --ion-card-background: #232323;
  --ion-color-light: #232d1a;
  --ion-color-light-shade: #222;
  --ion-color-dark: #fff;
  --ion-color-medium: #bdbdbd;
  --ion-color-tertiary: #8bc34a;

  --bottom-menu-bg: #114225; /* ← Verde más oscuro para el menú inferior en modo oscuro */
}

body:not(.dark) {
  --ion-background-color: #ffffff;
  --ion-text-color: #333333;
  --ion-card-background: #ededed;
  --ion-color-light: #fff;
  --ion-color-light-shade: #f4f4f4;
  --ion-color-dark: #222;
  --ion-color-medium: #666;
  --ion-color-tertiary: #8bc34a;
}
