<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Biodiversità</h1>

    <section class="section-block">
      <ion-text>
        <p>“Dalle grandi foreste pluviali ai piccoli parchi e giardini, dalla balena azzurra ai funghi microscopici, la biodiversità è la straordinaria varietà della vita sulla Terra. Noi esseri umani siamo una maglia di questa rete di vita, da cui dipendiamo per tutto: per il cibo di cui ci nutriamo, per l’acqua che beviamo, per l’aria che respiriamo. La natura è importante non solo per il nostro benessere fisico e mentale, ma anche per la capacità della nostra società di far fronte ai cambiamenti globali, alle minacce per la salute e alle catastrofi. La natura ci è indispensabile”</p>
        <p>(art.1 Strategia dell’Unione Europea sulla Biodiversità per il 2030)</p>
      </ion-text>

      <p>La protezione della biodiversità è una delle principali sfide che abbiamo di fronte. Il profondo processo di trasformazione del paesaggio e degli ambienti naturali operato nei secoli dall’uomo, richiede di sviluppare azioni e strumenti di conoscenza del patrimonio naturale regionale e nazionale.</p>

      <p>In questo quadro, Arpa Umbria svolge attività di studio, ricerca, monitoraggio e progettazione, anche in collaborazione con altri Enti e soggetti di ricerca, sui diversi temi chiamati in causa da questa sfida, dagli effetti dei cambiamenti climatici alla conoscenza e tutela di flora e fauna fino alla diffusione sul territorio di specie aliene invasive.</p>

      <p>Questo canale mette a disposizione documenti e pubblicazioni prodotti nell’ambito di tale attività da Arpa Umbria, anche attraverso delle partnership cui l’Agenzia ha aderito.</p>
    </section>

    <section class="section-block">
      <h2>Notizie</h2>
      <ion-list lines="none">
        <ion-item button routerLink="/notizie/carassius-auratus-volume">
          <ion-label>
            <h3>Online il volume Carassius auratus. Il pesce rosso nei bacini di Ugento</h3>
            <p>È possibile consultare la pubblicazione relativa al progetto di ricerca sulla presenza del Carassius auratus nei bacini di Ugento.</p>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="/notizie/carassio-studi-arpa-umbria">
          <ion-label>
            <h3>Continuano gli studi di Arpa Umbria sulla popolazione del carassio nei bacini di Ugento</h3>
            <p>Presentati gli studi di Arpa Umbria e Università degli Studi di Perugia nel corso di un incontro presso la Biblioteca Comunale di Palazzo Rovito</p>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="/notizie/riserva-biosfera-monte-peglia">
          <ion-label>
            <h3>In Arpa Umbria un punto informativo della Riserva della Biosfera Unesco del Monte Peglia</h3>
            <p>In attuazione del Piano di gestione della Riserva, approvato dall'Unesco, e nell'intento di promuovere e rendere sempre più efficaci e stabili le sinergie tra l’Arpa Umbria e la Riserva della Biosfera Unesco del Monte Peglia viene istituito un “Punto informativo” della Riserva.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>