<ion-content class="ion-padding">
  <h2>Acqua</h2>

  <ion-list>
    <ion-item button detail="true">
      <ion-label>
        <h3>L'acqua in Umbria - Disponibilità consumo e salute. Le rappresentazione e gli atteggiamenti dei cittadini</h3>
        <p>Anno di pubblicazione 2013</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Tutela ambientale del lago Trasimeno</h3>
        <p>Anno di pubblicazione 2012</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Il Sito di Interesse Comunitario del fiume Clitunno</h3>
        <p>Anno di pubblicazione: 2011</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Il monitoraggio chimico-fisico delle acque superficiali in Umbria</h3>
        <p>Anno di pubblicazione: 2010</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Valutazione dello Stato di Qualità Ambientale del Reticolo Idrografico del Fiume Clitunno e del Sottobacino Marroggia-Teverone-Timia</h3>
        <p>Anno di pubblicazione: 2009</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Studio sulle interazioni tra eventi sismici a acque sotterranee</h3>
        <p>Anno di pubblicazione: 2009</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Atlante dei macroinvertebrati dell'Umbria</h3>
        <p>Anno di pubblicazione: 2008</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Il monitoraggio continuo dei livelli di falda in Umbria</h3>
        <p>Anno di pubblicazione: 2008</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Tutela acquiferi vulnerabili</h3>
        <p>Anno di pubblicazione: 2006</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Sistemi agricoli e inquinamento da nitrati / Agricultural systems and nitrates pollution</h3>
        <p>Anno di pubblicazione: 2004</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Il monitoraggio continuo delle sorgenti umbre</h3>
        <p>Anno di pubblicazione: 2004</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Il lago di Piediluco</h3>
        <p>Anno di pubblicazione: 2003</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h3>Progetto Prismas: sintesi dei risultati e risultati metodologici</h3>
        <p>Anno di pubblicazione: 2000</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>