<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Rischio tecnologico</h1>

    <section class="section-block">
      <h2>Pubblicazioni e Riferimenti</h2>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Industria e ambiente - Storia e futuro dello sviluppo in Italia / Atti del convegno</h3>
            <p>Anno di pubblicazione: 2013 - Supplemento alla rivista Micron (n.24 Mar 2012)</p>
          </ion-label>
        </ion-item>
      </ion-list>
       </section>
  </div>
</ion-content>