<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Bonifica dei siti contaminati</h1>

    <section class="section-block">
      <h2>Siti contaminati e procedimenti di bonifica</h2>
      <p>In questa pagina sono raccolte le principali informazioni relative alle modalità di gestione dei procedimenti di bonifica dei siti contaminati in Umbria per descrivere il ruolo svolto da ARPA Umbria.</p>

      <p>Tutti gli aspetti legislativi e regolamentari di carattere nazionali relativi alla materia sono riportati nella Parte IV Titolo 5° del D.Lgs. 152/06 e s.m.i. e nei Decreti Ministeriali e circolari esplicative correlati.</p>

      <p>Le disposizioni legislative e regolamentari di carattere regionale sono disponibili sul sito web della Regione Umbria: <a href="https://www.regione.umbria.it/ambiente/bonifica-dei-siti-inquinati1" target="_blank">https://www.regione.umbria.it/ambiente/bonifica-dei-siti-inquinati1</a></p>

      <p>Nel sito web della regione sono anche disponibili i dati e informazioni in materia di bonifica nonché dati ed informazioni ufficiali e pubbliche in materia di bonifica dei siti contaminati.</p>
    </section>

    <section class="section-block">
      <h2>Il ruolo degli Enti Locali</h2>
      <p>La Regione Umbria rappresenta l’Ente Competente per la gestione dei procedimenti di bonifica (fatta eccezione per i procedimenti ricadenti in area SIN (Sito di Interesse Nazionale Terni – Papigno) gestiti direttamente dal Ministero Competente.</p>
      <p>Ai sensi dell’art. 196 D.Lgs. 152/06 sono in generale affidate alle Regioni le seguenti funzioni:</p>
      <ul>
        <li>
          <ion-text>elaborazione, l'approvazione e l'aggiornamento dei piani per la bonifica di aree inquinate di propria competenza;</ion-text>
        </li>
        <li>
          <ion-text>redazione di linee guida ed i criteri per la predisposizione e l'approvazione dei progetti di bonifica e di messa in sicurezza, nonché l'individuazione delle tipologie di progetti non soggetti ad autorizzazione, nel rispetto di quanto previsto all'articolo 195, comma 1, lettera r).</ion-text>
        </li>
      </ul>
      <p>Alle Provincie di Terni e Perugia ai sensi dell’art. 197 D.Lgs. 152/06 compete il controllo e la verifica degli interventi di bonifica ed il monitoraggio ad essi conseguenti (sia per i siti regionali che per i SIN); le Province svolgono anche il ruolo di istruttore tecnico per i procedimenti de bonifica di competenza regionale (art. 242 c. 12).</p>
      <p>L’ Azienda Unità Sanitaria Locale Umbria (AUSL Umbria 1 e Ausl Umbria 2), per i rispettivi territori de competenza svolge ruolo di supporto tecnico – scientifico nei confronti dell’Ente Competente (Regione Umbria) e dell’Ente di Controllo (Province de Terni e Perugia) per quanto attiene agli aspetti sanitari e de salute pubblica dei procedimenti de bonifica.</p>
    </section>

    <section class="section-block">
      <h2>Il ruolo di ARPA Umbria</h2>
      <p>ARPA Umbria svolge ruolo de supporto tecnico – scientifico nei confronti dell’Ente Competente (Regione Umbria e Ministero Competente per il SIN) e dell’Ente de Controllo (Province de Terni e Perugia) per quanto attiene agli aspetti de natura ambientale dei procedimenti de bonifica.</p>
      <p>Nello specifico l’Agenzia si occupa di:</p>
      <ul>
        <li>
          <ion-text>Esprimere, su richiesta degli Enti, pareri tecnico scientifici agli Enti richiedenti, de natura non vincolate relativamente agli aspetti de natura ambientale nelle varie fasi dei procedimenti de bonifica dei siti contaminati (Piano de caratterizzazione, Analisi de Rischio, Progetto de bonifica). La struttura che svolge tale attività è il Servizio Bonifiche e Progetti Speciali de ARPA Umbria.</ion-text>
        </li>
        <li>
          <ion-text>Definisce i valori de fondo sulla base dell’indagine svolta dal proponente ; si esprime sulla compatibilità delle Csc rilevate nel sito con le condizioni geologiche, idrogeologiche e antropiche del contesto territoriale in cui esso è inserito (art. 242 c. 13-ter). La struttura che svolge tale attività è il Servizio Risanamento Ambientale E Inquinamento Diffuso de ARPA Umbria.</ion-text>
        </li>
        <li>
          <ion-text>Predispone, su richiesta delle Province, la relazione tecnica prevista dall’art. 248 del D.Lgs. 152/06 per consentire alle Province stesse de accertare, mediante apposita certificazione, il completamento degli interventi de bonifica. La struttura che svolge tale attività è il Servizio Bonifiche e Progetti Speciali de ARPA Umbria.</ion-text>
        </li>
        <li>
          <ion-text>Partecipare a sopralluoghi tecnici quando richiesto dall’Ente de Controllo (Province de Terni e Perugia) La struttura che svolge tale attività è il Servizio Bonifiche e Progetti Speciali de ARPA Umbria coadiuvata dal Distretto de Arpa Umbria competente per territorio.</ion-text>
        </li>
        <li>
          <ion-text>Effettuare, su richiesta dell’Ente Competente (Regione Umbria e Ministero Competente per il SIN) o dell’Ente de Controllo (Province de Terni e Perugia), la validazione della qualità dei dati analitici provenienti da una campagna de indagine delle matrici ambientali mediante attività de campionamento in contraddittorio, contro – analisi e valutazione comparativa dei risultati ottenuti. La struttura che coordina tale attività è il Servizio Bonifiche e Progetti Speciali de ARPA Umbria coadiuvata per le attività svolte in campo ed in laboratorio rispettivamente dal Distretto de ARPA Umbria territorialmente competente e dal Laboratorio Multi – sito de ARPA Umbria.</ion-text>
        </li>
      </ul>
    </section>

    <section class="section-block">
      <h2>Procedura per la validazione delle campagne analitiche in contraddittorio con ARPA Umbria</h2>
      <p>La validazione delle campagne analitiche è richiesta dall’Ente Competente o dall’Ente de Controllo ad ARPA Umbria ed ha la finalità de asseverare la qualità e l’affidabilità degli esiti delle campagne analitiche svolte dal laboratorio de parte mediante lo svolgimento de attività de campionamento ed analisi eseguite in contraddittorio con ARPA Umbria su una numero de campioni stabilito dagli Enti e verificando la congruenza dei dati dei due laboratori.</p>
      <p>La campagna analitica eseguita è validata se risultano rispettate le seguenti tre condizioni:</p>
      <ul>
        <li>
          <ion-text>le attività de campionamento risultano rispondere a tutte le buone pratiche e ai criteri de qualità definiti da ARPA Umbria (rappresentatività del campione, contenitori e modalità de prelievo, conservazione e catena del freddo, ecc..). Sono responsabili de questa fase i Distretti de ARPA Umbria territorialmente competenti con i quali il proponente, prima delle attività previste dovrà relazionarsi per stabilire le modalità de svolgimento delle attività e concordare la data de campionamento.</ion-text>
        </li>
        <li>
          <ion-text>le analisi de laboratorio risultano rispondere a tutte le buone pratiche e ai criteri de qualità definiti da ARPA Umbria (metodiche analitiche, ecc…). E’ responsabile de questa fase il Laboratorio Multi-sito de ARPA Umbria con il quale il proponente, prima delle attività previste, dovrà relazionarsi per stabilire le modalità de svolgimento delle attività previste.</ion-text>
        </li>
        <li>
          <ion-text>il confronto statistico tra i risultati del laboratorio de parte e quelli del laboratorio ARPA Umbria evidenzia almeno l’80% de dati accettabili. E’ responsabile de questa fase il Servizio Bonifiche e Progetti Speciali, i criteri de accettabilità per ogni matrice ed ogni tipologia de analita sono riportati nella procedura ARPA Umbria SP PRO 046; il Servizio provvede ad effettuare il confronto dei risultati, nel caso in cui il valore dei dati accettabili sia inferiore all’80%, viene richiesto un parere tecnico al Laboratorio Multi sito de ARPA Umbria che si esprime nel merito validando ugualmente la campagna.</ion-text>
        </li>
      </ul>
      <p>La campagna analitica eseguita NON risulta validata se una o più delle tre condizioni sopra riportate non risultano rispettate.</p>
      <p>L’esito del processo de validazione sarà trasmesso agli Enti (Regione o Ministero Competente, Provincia Comune e AUSL territorialmente competenti e proponente). Si precisa che il confronto tra i dati e la conseguente validazione o non validazione della campagna prescinde dal superamento de limiti de legge dei valori riscontrati.</p>
      <p>Per poter accedere al servizio de validazione il proponente dovrà compilare il Modello “Richiesta de Contradditorio Analitico” in ogni sua parte svolgendo tutte le attività in esso previste che prevede una serie de attività preparatorie per il corretto svolgimento delle attività e un modello “Tabella dati de validazione” per la comunicazione sintetica dei risultati che accompagnerà la consegna dei certificati analitici de parte.</p>
    </section>

    <section class="section-block">
      <h2>Download</h2>
      <ion-list lines="none">
        <ion-item href="URL_ALLEGATO_1_RICHIESTA_CONTRADDITTORIO_ANALITICO" target="_blank" detail>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h4>bonifiche - Allegato 1 Richiesta di Contradditorio Analitico</h4>
          </ion-label>
        </ion-item>
        <ion-item href="URL_ALLEGATO_2_TABELLA_DATI_VALIDAZIONE" target="_blank" detail>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h4>Bonifiche - Allegato 2 - Tabella dati di validazione</h4>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>