<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Rifiuti</h1>

    <section class="section-block">
      <h2>Pubblicazioni e Riferimenti</h2>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Rapporto Rifiuti urbani - Umbria 2013</h3>
            <p>Anno di pubblicazione: 2014 - Arpa Umbria / Regione Umbria</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Rapporto Rifiuti urbani - Umbria 2012</h3>
            <p>Anno di pubblicazione: 2013</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Bonifica, recupero ambientale e sviluppo del territorio: esperienze a confronto sul fitorimedio / Atti del convegno</h3>
            <p>Anno di pubblicazione: 2012 - Supplemento alla rivista Micron (n.22 ott 2012)</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Rapporto rifiuti urbani Umbria 2011</h3>
            <p>Anno di pubblicazione: 2012</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Rapporto rifiuti urbani - Umbria 2010</h3>
            <p>Anno di pubblicazione: 2011</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>Rapporto rifiuti urbani - Umbria 2009</h3>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>
            <h3>I cittadini e la questione dei rifiuti in Umbria</h3>
            <p>Anno di pubblicazione: 2010</p>
          </ion-label>
        </ion-item>
      </ion-list>
         </section>
  </div>
</ion-content>