<!-- Botones flotantes arriba, centrados -->


<ion-content class="ion-padding">
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap" rel="stylesheet">
  <div class="page-container">
   
    <section class="section-block">
      <div class="cards-grid">

      
       

<div style="display: flex; justify-content: center; width: 100%;">
  <ion-card class="custom-card">
    <ion-card-title style="display:block; text-align:center; margin-top:18px; font-family:'Gaegu',cursive; color:#fff9de; font-size:2em; font-weight:700;">Fagiolino del trasimeno</ion-card-title>
    <ion-card-content style="padding:0; margin:0;">
      <img src="assets/semi2.png"   style="width: 110%; max-width: 430px; margin-left: -4%;" alt="fagiolino-di-trasimeno" />
      <div class="seed-buttons-row">
        <button class="seed-icon-btn" (click)="navigateTo('/mappa-semi')"><img src="assets/farmer-3.png" alt="Farmer 3" /></button>
        <button class="seed-icon-btn" (click)="navigateTo('/mappa-semi')"><img src="assets/farmer-2.png" alt="Farmer 2" /></button>
        <button class="seed-icon-btn" (click)="navigateTo('/ricette')"><img src="assets/ricette-icon.png" alt="Ricetta" /></button>
      </div>
    </ion-card-content>
  </ion-card>
</div>

<div style="display: flex; justify-content: center; width: 100%;">
  <ion-card class="custom-card">
    <ion-card-title style="display:block; text-align:center; margin-top:18px; font-family:'Gaegu',cursive; color:#fff9de; font-size:2em; font-weight:700;">Rapi del trasimeno</ion-card-title>
    <ion-card-content style="padding:0; margin:0;">
      <img src="assets/semi3.png"  style="width: 110%; max-width: 430px; margin-left: -4%;" alt="rapi-di-trasimeno" />
      <div class="seed-buttons-row">
        <button class="seed-icon-btn" (click)="navigateTo('/mappa-semi')"><img src="assets/farmer-1.png" alt="Farmer 1" /></button>

      </div>
    </ion-card-content>
  </ion-card>
</div>
<div style="display: flex; justify-content: center; width: 100%;">
  <ion-card class="custom-card">
    <ion-card-title style="display:block; text-align:center; margin-top:18px;font-family:'Gaegu',cursive; color:#fff9de; font-size:2em; font-weight:700;">Cipolla</ion-card-title>
    <ion-card-content style="padding:0; margin:0;">
      <img src="assets/semi1.png"  style="width: 110%; max-width: 430px; margin-left: -4%;" class= "seed-img" alt="cipolla" />
      <div class="seed-buttons-row">
         <button class="seed-icon-btn" (click)="navigateTo('/mappa-semi')"><img src="assets/farmer-4.png" alt="Farmer 1" style="margin-top: 7px;" /></button>
      <button class="seed-icon-btn" (click)="navigateTo('/ricette')"><img src="assets/ricette-icon.png" alt="Ricetta" style="margin-top: 7px;"/></button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
      </div>
    </section>
  </div>
</ion-content>