<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Biodiversità</h1>

    <section class="section-block">
      <h2>Pubblicazioni e Riferimenti</h2>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Caratterizzazione e diffusione delle specie aliene acquatiche e di ambienti umidi in Umbria</h3>
            <p>Anno di pubblicazione: 2019 / Arpa Umbria in collaborazione con Ispra, Università degli Studi di Perugia e altri enti ha completato la lista delle specie aliene acquatiche in Umbria</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>
            <h3>Le specie fungine lignicole nell'isola Polvese del lago Trasimeno</h3>
            <p>Anno di pubblicazione: 2016</p>
          </ion-label>
        </ion-item>
      </ion-list>
       </section>
  </div>
</ion-content>