<ion-content class="ion-padding">
  <h2>Rivista Micron Anno 2020</h2>

  <h3>Rivista Micron Anno XVII - numero 46</h3>
  <p>Marzo 2020</p>

  <p>
    <a href="#">Sfoglia la pubblicazione</a>
  </p>

  <hr> <h3>Anno XVI numero 46 (Marzo 2020)</h3>
  <p>© Arpa Umbria 2019</p>

  <ul>
    <li><a href="#">Micron 46 / tutta la rivista</a></li>
    <li><a href="#">Uguaglianza nella diversità / Fabio Mariottini</a></li>
    <li><a href="#">Rompere “il soffito di cristallo” / Claudia Sorlini</a></li>
    <li><a href="#">Più potere alle donne. Così si sconfigge l'AIDS / Cristiana Pulcinelli</a></li>
    <li><a href="#">Scienza, la strada per l’uguaglianza di genere è ancora lunga / Barbara Saracino</a></li>
    <li><a href="#">La straordinaria “ordinarietà” delle donne in matematica / Romualdo Gianoli</a></li>
    <li><a href="#">Brevetti, una faccenda (ancora) da maschi / Stefano Pisani</a></li>
    <li><a href="#">Gender gap e lavoro / Cristina Da Rold</a></li>
    <li><a href="#">Scienze naturali: femminile, plurale / Francesca Buoninconti</a></li>
    <li><a href="#">Quell’urlo nel silenzio / Pietro Greco</a></li>
    <li><a href="#">Micron letture</a></li>
  </ul>

</ion-content>