<ion-content class="ion-padding">
  <div class="page-container">
    <h1>Sviluppo sostenibile</h1>

    <section class="section-block">
      <h2>Il modello SSAM - Spatial Sustainability Assessment Model</h2>
      <p>Laboratorio ambiente (UniPg) e Arpa hanno implementato un modello per la valutazione della sostenibilità.</p>
      <ion-list lines="none">
        <ion-item button detail href="URL_MODELLO_SSAM" target="_blank">
          <ion-icon slot="start" name="analytics-outline"></ion-icon>
          <ion-label>Approfondisci il Modello SSAM</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Pillole di sostenibilità / L’Agenda 2030</h2>
      <p>L’Agenda 2030 per lo Sviluppo Sostenibile è un programma d’azione per le persone, il pianeta e la prosperità sottoscritto nel settembre 2015 dai governi dei 193 Paesi membri dell’ONU. Essa ingloba 17 Obiettivi per lo Sviluppo Sostenibile.</p>
      <ion-list lines="none">
        <ion-item button detail href="URL_VIDEO_AGENDA_2030" target="_blank">
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
          <ion-label>[VIDEO] L’Agenda 2030</ion-label>
        </ion-item>
      </ion-list>
    </section>

    <section class="section-block">
      <h2>Indicatori ambientali</h2>
      <p>In aggiornamento</p>
      </section>
  </div>
</ion-content>